* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    margin-bottom: 15px;

}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #a26c13;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b97629;
}

.social-login {
    margin-top: 20px;
}

.social-icons {
    font-size: 24px;
}

.social-icons i {
    margin: 0 5px;
    cursor: pointer;
    color: #a26c13;
}

.social-icons i:hover {
    color: #3498db;
}

/* Your existing CSS */
/* ... */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}
