/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 150px;
}

.tracking-shipment {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Center form elements */
.track-form, .register-form {
    text-align: center;
}

/* Center text within labels */
label {
    text-align: center;
}
